# Arquivo de ambiente com chaves de API - NUNCA ENVIAR!
.env

# Pasta do ambiente virtual do Python
venv/
.venv/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de banco de dados e IDE
.vscode/
chroma_db/
data/chroma_db/
logs/
Docs-Teoricos/

# Arquivos para testes
memorias.py

# Pasta com históricos de chat dos usuários
/chat_histories/

# Arquivos de log do Streamlit
streamlit.log