[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install --no-cache-dir -r requirements.txt"]

[phases.build]
cmds = ["mkdir -p /data"]

[start]
cmd = "streamlit run streamlit_jung.py --server.port=$PORT --server.address=0.0.0.0 --server.headless=true"